<footer>
  <div class="footer">
    <p>© 2026 Zeng Digital Services</p>

    <div class="links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/refund">Refund</a>
      <a href="/contact">Contact</a>
    </div>
  </div>
</footer>