<footer class="footer">
  <div class="container">
    <p><strong>Zeng Digital Services</strong></p>

    <p>
      Owner: Kuldeep Meena<br>
      Ramnagariya, SKIT College Road<br>
      Jagatpura, Jaipur 302017<br>
      Rajasthan, India<br>
      Phone: +91 95210 70057<br>
      Email: zengdigitalservices.info@gmail.com
    </p>

    <p>
      <a href="/privacy">Privacy</a> |
      <a href="/refund">Refund</a> |
      <a href="/terms">Terms</a> |
      <a href="/delivery">Delivery</a>
    </p>
  </div>
</footer>