<<<<<<< HEAD
<%- include("partials/header") %>

<section class="hero">
  <h1>About Us</h1>
  <p>
    Zeng Digital Services is an Indian digital agency providing website development,
    SEO and marketing services for startups and small businesses.
  </p>

  <p>
    We help businesses establish strong online presence and generate leads
    through modern digital solutions.
  </p>
</section>

</body>
=======
<%- include("partials/header") %>

<section class="hero">
  <h1>About Us</h1>
  <p>
    Zeng Digital Services is an Indian digital agency providing website development,
    SEO and marketing services for startups and small businesses.
  </p>

  <p>
    We help businesses establish strong online presence and generate leads
    through modern digital solutions.
  </p>
</section>

</body>
>>>>>>> 9fa772618de304641c7c55074f33abf96e62b2b4
</html>