<!DOCTYPE html>
<html>
<head>
  <title>Contact - Zeng Digital</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include('partials/header') %>

<section class="page">
  <h1>Contact Us</h1>

  <p>Email: info@zengdigital.in</p>
  <p>Phone: +91 90000 00000</p>
  <p>India 🇮🇳</p>
</section>

<%- include('partials/footer') %>
</body>
</html>