<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
</head>
<body>

<%- include("partials/header") %>

<div class="container">
  <h1>Contact Us</h1>

  <p>Email: support@zengdigitalservices.in</p>
  <p>WhatsApp: +91 95210 70057</p>
  <p>India</p>
</div>

<%- include("partials/footer") %>

</body>
</html>