<%- include("partials/header") %>

<section class="legal">
  <div class="container">
    <h1>Contact Us</h1>

    <p>Email: zengdigitalservices.info@gmail.com </p>
    <p>Phone: +91 95210 70057</p>
    <p>Address: Ramnagariya, SKIT College Road
Jagatpura, Jaipur 302017
Rajasthan, India </p>

    <h2>Business Hours</h2>
    <p>Mon–Sat: 10 AM – 7 PM</p>
  </div>
</section>

<%- include("partials/footer") %>