<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<%- include("partials/header") %>

<section class="section">
<h2>Contact Us</h2>

<p><strong>Business Name:</strong> Zeng Digital Services</p>
<p><strong>Location:</strong> India</p>
<p><strong>Email:</strong> support@zengdigital.in</p>

</section>

<div class="footer">
  <p>Zeng Digital Services India</p>
  <p>Email: support@zengdigital.in</p>
  <p>
    <a href="/privacy">Privacy Policy</a> |
    <a href="/terms">Terms</a> |
    <a href="/refund">Refund</a>
  </p>
  <p>India</p>
</div>

</body>
=======
<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<%- include("partials/header") %>

<section class="section">
<h2>Contact Us</h2>

<p><strong>Business Name:</strong> Zeng Digital Services</p>
<p><strong>Location:</strong> India</p>
<p><strong>Email:</strong> support@zengdigital.in</p>

</section>

<div class="footer">
  <p>Zeng Digital Services India</p>
  <p>Email: support@zengdigital.in</p>
  <p>
    <a href="/privacy">Privacy Policy</a> |
    <a href="/terms">Terms</a> |
    <a href="/refund">Refund</a>
  </p>
  <p>India</p>
</div>

</body>
>>>>>>> 9fa772618de304641c7c55074f33abf96e62b2b4
</html>