<<<<<<< HEAD
<%- include("partials/header") %>

<section class="hero">
  <h1>Zeng Digital Services</h1>
  <p>Professional Digital Solutions for Indian Businesses</p>
</section>

<section id="services" class="services">

  <div class="card">
    <h3>Website Development</h3>
    <p>Business website for your brand</p>
    <a href="/order/Website Development/4999">Pay Now</a>
  </div>

  <div class="card">
    <h3>SEO Optimization</h3>
    <p>Rank your business on Google</p>
    <a href="/order/SEO Optimization/2999">Pay Now</a>
  </div>

  <div class="card">
    <h3>Social Media Marketing</h3>
    <p>Grow Instagram & Facebook</p>
    <a href="/order/Social Media Marketing/3999">Pay Now</a>
  </div>

</section>

<section id="contact" class="hero">
  <h2>Contact Us</h2>
  <p>Email: support@zengdigitalservices.in</p>
  <p>WhatsApp: +91 95210 70057</p>
  <p>India</p>
</section>

</body>
=======
<%- include("partials/header") %>

<section class="hero">
  <h1>Zeng Digital Services</h1>
  <p>Professional Digital Solutions for Indian Businesses</p>
</section>

<section id="services" class="services">

  <div class="card">
    <h3>Website Development</h3>
    <p>Business website for your brand</p>
    <a href="/order/Website Development/4999">Pay Now</a>
  </div>

  <div class="card">
    <h3>SEO Optimization</h3>
    <p>Rank your business on Google</p>
    <a href="/order/SEO Optimization/2999">Pay Now</a>
  </div>

  <div class="card">
    <h3>Social Media Marketing</h3>
    <p>Grow Instagram & Facebook</p>
    <a href="/order/Social Media Marketing/3999">Pay Now</a>
  </div>

</section>

<section id="contact" class="hero">
  <h2>Contact Us</h2>
  <p>Email: support@zengdigitalservices.in</p>
  <p>WhatsApp: +91 95210 70057</p>
  <p>India</p>
</section>

</body>
>>>>>>> 9fa772618de304641c7c55074f33abf96e62b2b4
</html>