<!DOCTYPE html>
<html>
<head>
  <title>Order Service</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<section class="about">
  <h1>Confirm Your Order</h1>

  <p>Service: <%= service %></p>
  <p>Price: ₹<%= price %></p>

  <a href="/pay/<%= service %>" class="btn primary">Proceed to Payment</a>
</section>

</body>
</html>