<%- include("partials/header") %>

<section class="container center">
  <h1>Payment Successful ✅</h1>
  <p>Thank you for your order.</p>

  <a href="/" class="btn">Go Home</a>
</section>

<%- include("partials/footer") %>