<<<<<<< HEAD
<%- include("partials/header") %>

<section class="hero">
  <h1>Pricing Plans</h1>
  <p>Affordable digital services for Indian businesses</p>
</section>

<section class="services">

  <div class="card">
    <h3>Website Development</h3>
    <p>₹4999</p>
    <a href="/order/Website Development/4999">Pay Now</a>
  </div>

  <div class="card">
    <h3>SEO Optimization</h3>
    <p>₹2999</p>
    <a href="/order/SEO Optimization/2999">Pay Now</a>
  </div>

  <div class="card">
    <h3>Social Media Marketing</h3>
    <p>₹3999</p>
    <a href="/order/Social Media Marketing/3999">Pay Now</a>
  </div>

=======
<%- include("partials/header") %>

<section class="hero">
  <h1>Pricing Plans</h1>
  <p>Affordable digital services for Indian businesses</p>
</section>

<section class="services">

  <div class="card">
    <h3>Website Development</h3>
    <p>₹4999</p>
    <a href="/order/Website Development/4999">Pay Now</a>
  </div>

  <div class="card">
    <h3>SEO Optimization</h3>
    <p>₹2999</p>
    <a href="/order/SEO Optimization/2999">Pay Now</a>
  </div>

  <div class="card">
    <h3>Social Media Marketing</h3>
    <p>₹3999</p>
    <a href="/order/Social Media Marketing/3999">Pay Now</a>
  </div>

>>>>>>> 9fa772618de304641c7c55074f33abf96e62b2b4
</section>