<<<<<<< HEAD
<%- include("partials/header") %>

<div class="hero">
  <h2>Order Placed Successfully</h2>
  <p>Our team will contact you soon.</p>
</div>

</body>
=======
<%- include("partials/header") %>

<div class="hero">
  <h2>Order Placed Successfully</h2>
  <p>Our team will contact you soon.</p>
</div>

</body>
>>>>>>> 9fa772618de304641c7c55074f33abf96e62b2b4
</html>