body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* NAVBAR */
.navbar {
  background: linear-gradient(90deg, #ff9933, #ffffff, #138808);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.menu a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(90deg, #ff9933, #138808);
  color: white;
}

/* CARDS */
.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 260px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 18px;
  border-radius: 6px;
  background: linear-gradient(90deg, #ff9933, #138808);
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}