body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#f4f6f9;
}

/* HEADER TRICOLOR */
header{
  background: linear-gradient(90deg,#FF9933 0%, #FFFFFF 50%, #138808 100%);
  padding:15px 0;
  color:#000;
  border-bottom:3px solid #000080;
}

header h2{
  margin:0;
  font-weight:bold;
}

header p{
  margin:0;
  font-size:12px;
}

nav a{
  color:#000;
  margin:0 10px;
  text-decoration:none;
  font-weight:bold;
}

nav a:hover{
  color:#000080;
}

/* CONTAINER */
.container{
  max-width:1100px;
  margin:auto;
  padding:20px;
}

/* TITLES */
h1{
  color:#FF9933;
}

h2{
  color:#138808;
}

/* BUTTONS */
a[href*="checkout"]{
  display:inline-block;
  margin:8px 0 20px 0;
  padding:8px 14px;
  background:#000080;
  color:#fff;
  border-radius:5px;
  text-decoration:none;
}

a[href*="checkout"]:hover{
  background:#FF9933;
  color:#000;
}

/* FOOTER */
footer{
  background:#138808;
  color:#fff;
  padding:20px;
  margin-top:40px;
}