<%- include("partials/header") %>

<section class="container">
  <h1>Checkout</h1>

  <div class="checkout-box">
    <h2><%= service %></h2>
    <p class="price">Amount: ₹<%= price %></p>

    <form action="/payment-success">
      <input type="text" placeholder="Your Name" required>
      <input type="email" placeholder="Email" required>
      <button class="btn">Confirm Payment</button>
    </form>
  </div>
</section>

<%- include("partials/footer") %>